body {
    font-family: Arial, sans-serif;
    background-color:#f3f0ff;
    padding: 20px;
    line-height: 1.6;
}

header{
    text-align: center;
}

/*Diseño del área de navegación*/
nav{
    display: flex;/*Flex container*/
    justify-content: center;/*Los elementos del eje principal están en el centro.*/
    gap: 20px; /*Espaciado entre cada sección*/
}

/*Diseño dels enlaces del área de navegación*/
nav a{
    color: #6a0dad;
    text-decoration: none;/*Eliminar el subrayado de los enlaces en la navegación*/
}

/*Diseño del área de main*/
.container{
    display: flex; /*Flex container*/
    flex-direction: column;/*dirección vertical*/
    align-items: center;/*Elementos secundarios del centro*/
    text-align: center;/*texto al centro*/
    gap: 40px;/*Espaciado entre cada sección*/
    padding: 50px;
}

img{
height: 800px;
}

h1{
    color: #6a0dad;
    text-shadow: 1px 1px 2px gainsboro;
}

p{
    color:#2e0854;
}
